In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [42]:
credit_card_data=pd.read_csv(r'C:\Users\Vaidehi Gupta\Downloads\Data Science Projects Datasheets\Prediction of credit fraud/creditcard.csv')
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [43]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [44]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [45]:
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [46]:
legit=credit_card_data[credit_card_data.Class==0]
fraud=credit_card_data[credit_card_data.Class==1]

In [47]:
print(legit.shape,fraud.shape)

(284315, 31) (492, 31)

In [48]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [49]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [50]:
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [51]:
legit_sample=legit.sample(n=492)

In [52]:
new_dataset=pd.concat([legit_sample,fraud],axis=0)

In [53]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
130652,79402.0,-1.698345,0.088636,2.354182,3.299320,-0.322323,0.905281,-0.979839,1.054810,-0.560431,...,0.173395,0.368468,-0.237414,0.026255,0.329694,0.463200,0.247743,-0.062290,52.96,0
211365,138382.0,-0.989715,0.604121,-0.284062,1.149745,0.779083,-0.797929,1.710760,-0.462384,-0.458177,...,0.031716,0.692070,0.070613,0.012211,0.102704,-0.373865,0.344841,0.192681,128.85,0
233946,147764.0,2.150996,-0.070509,-2.571993,-0.338700,1.002009,-0.596891,0.500969,-0.201456,0.256296,...,0.125413,0.366467,-0.085480,-0.105760,0.458333,0.247255,-0.103833,-0.094870,0.76,0
120042,75689.0,1.182112,0.158664,0.469306,0.584210,-0.294064,-0.512044,0.022043,-0.083326,0.008367,...,-0.216407,-0.622796,0.147671,0.075331,0.144692,0.121616,-0.014678,0.019217,19.96,0
17282,28597.0,-0.921138,0.413912,0.661164,-0.367720,0.090536,1.763211,2.201418,-0.144116,-0.495892,...,-0.090109,-0.152162,-0.204502,-1.754790,0.247968,-0.514182,-0.054255,-0.233403,341.82,0

In [54]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [55]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,96436.002033,-0.000225,-0.115599,-0.041861,0.023492,-0.007341,-0.065901,-0.038054,-0.002381,0.080327,...,-0.014914,0.016673,0.037378,-0.026068,0.026493,-0.029411,-0.033405,-0.024454,-0.005685,87.802093
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [56]:
X=new_dataset.drop(columns='Class',axis=1)
Y=new_dataset['Class']

In [57]:
print(X)
print(Y)

            Time        V1        V2        V3        V4        V5        V6  \
130652   79402.0 -1.698345  0.088636  2.354182  3.299320 -0.322323  0.905281
211365  138382.0 -0.989715  0.604121 -0.284062  1.149745  0.779083 -0.797929
233946  147764.0  2.150996 -0.070509 -2.571993 -0.338700  1.002009 -0.596891
120042   75689.0  1.182112  0.158664  0.469306  0.584210 -0.294064 -0.512044
17282    28597.0 -0.921138  0.413912  0.661164 -0.367720  0.090536  1.763211
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
130652 -0.979839  1.054810 -0.560431  ...  0.500236  0.173395  0.368468
211365  1.710760 -0.462384 -0.458177  ... -0.251993  0.031716  0.692070
233946  0.500969 -0.201456  0.256296  ... -0.305270  0.125413  0.366467
120042  0.022043 -0.083326  0.008367  ... -0.075051 -0.216407 -0.622796
17282   2.201418 -0.144116 -0.495892  ... -0.059255 -0.090109 -0.152162
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
130652 -0.237414  0.026255  0.329694  0.463200  0.247743 -0.062290   52.96
211365  0.070613  0.012211  0.102704 -0.373865  0.344841  0.192681  128.85
233946 -0.085480 -0.105760  0.458333  0.247255 -0.103833 -0.094870    0.76
120042  0.147671  0.075331  0.144692  0.121616 -0.014678  0.019217   19.96
17282  -0.204502 -1.754790  0.247968 -0.514182 -0.054255 -0.233403  341.82
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]
130652    0
211365    0
233946    0
120042    0
17282     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [58]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [59]:
print(X.shape,X_train.shape,X_test.shape)

(984, 30) (787, 30) (197, 30)

In [60]:
print(Y.shape,Y_train.shape,Y_test.shape)

(984,) (787,) (197,)

In [61]:
model=LogisticRegression()

 model=fit(X_train,Y_train)

In [62]:
model.fit(X_train,Y_train)

c:\users\vaidehi gupta\appdata\local\programs\python\python38\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [63]:
X_train_prediction=model.predict(X_train)

In [65]:
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)
print(training_data_accuracy)

0.9440914866581956

In [68]:
X_testing_prediction=model.predict(X_test)

In [69]:
testing_data_accuracy=accuracy_score(X_testing_prediction,Y_test)
print(testing_data_accuracy)

0.934010152284264